[submodule "docs/themes/ananke"]
	path = docs/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "docs/themes/docsy"]
	path = docs/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "docs/themes/techdoc"]
	path = docs/themes/techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
