[submodule "docs/themes/ananke"]
	path = docs/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "docs/themes/docsy"]
	path = docs/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "docs/themes/techdoc"]
	path = docs/themes/techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
[submodule "docs/themes/doks"]
	path = docs/themes/doks
	url = https://github.com/h-enk/doks.git
[submodule "docs/themes/ace"]
	path = docs/themes/ace
	url = https://github.com/vantagedesign/ace-documentation.git
