baseURL = 'https://hyder.github.io/test-hugo/'
languageCode = 'en-us'
title = 'My New Hugo Site'
theme = "docsy"

[params]
    # Custom CSS
    custom_css = ["css/molokai.css","css/custom.css"]

[security]
enableInlineShortcodes = false

[security.exec]
allow = ["^dart-sass-embedded$", "^go$", "^npx$", "^postcss$", "^asciidoctor$"]
osEnv = ["(?i)^(PATH|PATHEXT|APPDATA|TMP|TEMP|TERM|RUBYLIB)$"]

[security.funcs]
getenv = ["^HUGO_"]

[security.http]
methods = ["(?i)GET|POST"]
urls = [".*"]